* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: NotoSans, sans-serif;
}

header {
    text-align: center;
}

body {
    background-color: #f3f4f6;
}
.container {
    background-color: #f3f4f6;
    max-width: 1500px;
    margin: auto;
    
}

.main-container {
    display: flex;
    justify-content:space-around;
    background-color: #f3f4f6;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 40vw;
    height: 100vh;
    padding: 10px;
    margin: 20px;
    background-color: #f3f4f6;
    height: 100%;
    max-width: 750px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.resume-container {
    height: 29.7cm;
    width: 21;
}

footer {
    text-align: right;
    padding: 10px;
}

input {
    display: block;
    border: none;
    padding: 5px;
}

h2 {
    text-align: center;
}

form {
    padding: 10px;
}

button {
    padding: 1px 5px;
    margin:5px 5px 5px 0;
}

.resume-top {
    background-color: #0e374e;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.personal-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.personal-details div {
    padding: 10px;
}

input {
    background-color: #f3f4f6;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}

.form-general-info {
    background-color: #f3f4f6;
}

.section-style {
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.resume-container {
    background-color: white;
    height: 100%;
}

.resume-body {
    padding:  0 55px;
    margin-top: 40px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 5px;
}

h3 {
    color: #0e374e;
    text-align: center;
    font-weight: 800;
    font-size: 1.17em;
    background-color: #f3f4f6;;
    padding: 5px 0;
}

h2 {
    font-weight: 800;
}

.education-section {
    margin-top: 40px;
}

.education-info {
    display: flex;
    width: 100vh;
    margin-bottom: 24px;
}

.education-info-study{
    width: 20vh;
}

.education-info-school {
    font-weight: 700;
}