* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

.container {
    background-color: #f3f4f6;
}

.main-container {
    display: flex;
    justify-content:space-around;
    background-color: #f3f4f6;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 40vw;
    height: 100vh;
    padding: 10px;
    margin: 20px;
    background-color: #f3f4f6;
    height: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

footer {
    text-align: right;
    padding: 10px;
}

input {
    display: block;
    border: none;
    padding: 5px;
}

h2 {
    text-align: center;
}

form {
    padding: 10px;
}

button {
    padding: 1px 5px;
    margin:5px 5px 5px 0;
}

.resume-top {
    background-color: #0e374e;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.personal-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.personal-details div {
    padding: 10px;
}

input {
    background-color: #f3f4f6;
}

.form-general-info {
    background-color: #f3f4f6;
}

.section-style {
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.resume-container {
    background-color: white;
    height: 100%;
}

.resume-body {
    padding: 20px;
}